{
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(248, 190, 163);
    font-family: 'Poppins', sans-serif;
}
.nav-links{
    display: flex;
    width: 45%;
    justify-content: space-around;
    font-size: 30px;
}

.product1{
    margin-left: 5%;
    margin-top: 5%;

}
.product2{
    margin-left: 50%;
    margin-top: -23%;
}
.product3{
    margin-left: 5%;
    margin-top: 5%;
}
.product4{
    margin-left: 50%;
    margin-top:-10%;
}
.text1{
    margin-left: 30%;
    margin-top: -50%;
    width: 20%;
    font-family: 'Poppins', sans-serif;
}
.text2{
    margin-left: 67%;
    margin-top: -10%;
    width: 30%;
    font-family: 'Poppins', sans-serif;
}
.text3{
    margin-left: 20%;
    margin-top: 15%;
    font-family: 'Poppins', sans-serif;
}
.text4{
    margin-left: 40%;
    margin-top: -5%;
    font-family: 'Poppins', sans-serif;
}